.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-card {
  display: flex;
  position: relative;
  justify-content: flex-start;
  background-color: white;
  height: 20rem;
  width: 30rem;
  border: 1px solid;
  border-radius: 0.6rem;
  padding: 0.5rem;
}

.filter-bar {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.4rem;
  background: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 3rem;
  padding: 0 0 0rem 0.5rem;

  cursor: pointer;

  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
}

.filter-section {
  font-size: 1.2rem;
  font-weight: 250;
  line-height: 1rem;
  border: none;
  background: #ffffff;
  padding: 0.2rem 1rem 0 0;
}

.filter-symbol {
  color: #c1111f;
  font-size: 300%;
}
