.filter-bar {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.4rem;
  background: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 3rem;
  padding: 0 0 0rem 0.5rem;

  cursor: pointer;

  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
}

.filter-section {
  font-size: 1.2rem;
  font-weight: 250;
  line-height: 1rem;
  border: none;
  background: #ffffff;
  padding: 0.2rem 1rem 0 0;
}

.filter-symbol {
  color: #c1111f;
  font-size: 300%;
}

h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: block;
  font-size: 1.1rem;
  font-weight: inherit;
  margin: 2rem 0 1.4rem 0;
  padding-left: 1.2rem;
}

.filters {
  display: flex;
  flex-direction: column;
}

.clear-apply-buttons {
  display: flex;
  justify-content: space-between;
  position: sticky;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 -2px 16px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.04);
  box-sizing: border-box;
  border-top: 1px solid #e0e0e0; /* subtle separator like Airbnb */
  background-color: #fff;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.clear-btn {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
  font-size: 1rem;
}

.clear-btn:hover {
  border-radius: 8px;
  background-color: rgb(243, 243, 243);
}

.apply-btn {
  flex: 0.2;
  background-color: #0071c2;
  color: #fff;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 0.25rem;
  font-weight: 600;
  cursor: pointer;
}

.apply-btn:hover {
  background-color: #005b99;
}
