.filter-bar {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.4rem;
  background: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 2rem;
  padding: 0.4rem 0 0.4rem 0.8rem;
  margin: 0;
  cursor: pointer;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.12);
}

.filter-bar:hover {
  border: 1px solid #222222;
  transition: box-shadow 0.2s, transform 0.1s, border-color 0.2s,
    background-color 0.2s;
}

.filter-header {
  position: sticky;
  text-align: center;
  font-size: 1.08rem;
  padding: 1rem 0;
  box-shadow: 0 -2px 16px 0 rgba(0, 0, 0, 0.06), 0 0 0 1px rgba(0, 0, 0, 0.06);
  background-color: #fbfbfb;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.close-modal-btn {
  margin: -15px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.filter-section {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1rem;
  border: none;
  padding: 0.2rem 1rem 0 0;
}

.filter-symbol {
  color: #c1111f;
  padding-top: 6px;
}

h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: block;
  font-size: 1.1rem;
  font-weight: inherit;
  margin: 2rem 0 1.4rem 0;
  padding-left: 1.2rem;
}

.filters {
  display: flex;
  flex-direction: column;
}

.clear-apply-buttons {
  display: flex;
  justify-content: space-between;
  position: sticky;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 -2px 16px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.04);
  box-sizing: border-box;
  border-top: 1px solid #e0e0e0;
  background-color: #fbfbfb;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}

.clear-btn {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
  font-size: 1rem;
}

.clear-btn:hover {
  border-radius: 8px;
  background-color: rgb(248, 248, 248);

  padding: 0.38rem;
}

.apply-btn {
  flex: 0.2;
  background-color: #c1111f;
  color: #fff;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 32px;

  font-weight: 600;
  cursor: pointer;
}

.apply-btn:hover {
  background-color: #ae0f1c;
}
