.modal-buttons {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 4px;
  padding: 0 1rem;
}

.modal-button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 6rem;
  border: 1px solid #dddddd;
  background-color: #fefefe;
  border-radius: 28px;
  padding: 14px;
  cursor: pointer;
  transition: box-shadow 0.2s, transform 0.1s, border-color 0.2s,
    background-color 0.2s;
}

.modal-buttons::after {
  content: "";
  position: absolute;
  bottom: -0.6rem;
  width: 95%;
  height: 1px;
  background-color: #ebebeb;
  margin: -4px;
}

.modal-button:hover {
  border: 1px solid #222222;
}

.modal-button.active {
  outline: 1px solid black;
  outline-offset: 1;
}

.modal-button svg {
  width: 24px !important;
  height: 24px !important;
  stroke-width: 1;
}
