.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(70, 70, 70, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  max-height: 80vh;
  max-width: 100vw;
  overflow-y: auto;
  border: 1px solid #ebebeb;
  border-radius: 32px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  margin: 0 1rem;
}
