.loading-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3em;
  height: 100%;
}

.loading-dots span {
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  background-color: #c1111f;
  border-radius: 50%;
  animation: bounce 1.4s infinite ease-in-out both;
}

.loading-dots span:nth-child(1) {
  animation-delay: 0s;
}
.loading-dots span:nth-child(2) {
  animation-delay: 0.2s;
}
.loading-dots span:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
