@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.property-skeleton {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-left: 5%;
}

.sk {
  background: #f6f7f8;
  background-image: linear-gradient(
    to right,
    #f6f7f8 0%,
    #edeef1 20%,
    #f6f7f8 40%,
    #f6f7f8 100%
  );
  background-repeat: no-repeat;
  background-size: 1000px 100%;
  animation: shimmer 1.5s infinite linear;
  border-radius: 8px;
}

.sk-line {
  height: 16px;
  width: 50%;
}
.sk-head {
  display: flex;

  align-items: flex-start;
  height: 48px;
  width: 60%;
  margin: 40px 0 70px 0;
}

.sk-image-big {
  width: 90%;
  height: 560px;
  border-radius: 14px;
  margin-bottom: 40px;
}

.sk-box {
  width: 70%;
  height: 100px;
  margin-top: 40px;
}

.sk-review {
  width: 80%;
  height: 100px;
  margin-bottom: 10px;
}
