.reviews-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem;
}

.reviews-section h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.average-rating {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  color: #222;
}

.review-card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 0;
}

.review-card:last-child {
  border-bottom: none;
}

.avatar-name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

.avatar-name svg {
  width: 48px;
  height: 48px;
  color: #008489;
}

.guest-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.guest-name {
  font-weight: 600;
  font-size: 1rem;
}

.rating-time {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin-bottom: 8px;
}

.review-rating {
  font-size: 13px;
  font-weight: 500;
}

.time {
  font-size: 13px;
  color: #777;
}

.review-comment {
  margin-top: 0.25rem;
  color: #555;
  font-size: 0.95rem;
  line-height: 1.3;
}

.delete-btn {
  position: absolute;
  top: 90px;
  right: 10px;
  background: none;
  border: none;
  color: #c1111f;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  z-index: 10;
}

.review-card:hover .delete-btn {
  opacity: 1;
}

.post-review {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: none;
  border: 0.4px solid #737373;
  border-radius: 16px;
  padding: 10px 8px;
  padding-left: 16px;

  max-width: 160px;
  cursor: pointer;
}

.post-review svg {
  width: 22px;
  height: 22px;
  padding-right: 4px;
}

.open-modal-btn {
  font-family: "BlinkMacSystemFont", "Roboto", "Helvetica Neue", sans-serif;
  background: none;
  font-size: 16px;
  font-weight: 300;
  border: none;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(70, 70, 70, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.review-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
  padding: 10px 10px;
}

.review-form button {
  font-family: "BlinkMacSystemFont", "Roboto", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: inherit;
  min-height: 44px;
  width: 140px;
  margin-left: auto;
  margin-top: 10px;
  margin-bottom: 0;
  background-color: #c1111f;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.modal-review-content {
  position: relative;
  background: white;
  padding: 25px 30px 10px 30px;
  border-radius: 32px;
  min-width: 70%;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.4);
}

.modal-review-content h2 {
  max-width: 60vw;
  margin-top: 0;
  margin-bottom: 15px;
  padding: 0;
  font-weight: 300;
}

.close-modal-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.review-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.review-form textarea {
  font-family: "BlinkMacSystemFont", "Roboto", "Helvetica Neue", sans-serif;
  font-size: 18px;
  letter-spacing: 1px;
  min-height: 180px;
  padding: 18px;
  border-radius: 24px;
  border: 0.4px solid #ccc;
  resize: vertical;
}

.review-form textarea:focus {
  outline: none;
}

.review-form select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-review-group {
  padding: 0;
}

.star-rating-icons {
  font-size: 18px;
  cursor: pointer;
}

.star-rating-icons span {
  padding: 0 2px;
}

.star-selected {
  color: #c1111f;
}

.star-unselected {
  color: #ccc;
}

.star-rating-icons span:hover {
  transform: scale(1.1);
  transition: transform 0.1s ease;
}
