.user-bookings-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  gap: 16px;
}

.booking-card-main {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.booking-card {
  display: flex;
  gap: 3rem;
  padding: 16px;
}

.booking-card-main:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.booking-card img {
  width: 160px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}

.booking-info h3 {
  margin: 6px;
  font-size: 16px;
  font-weight: 500;
}

.booking-info p {
  margin: 4px 0;
  color: #717171;
  font-size: 14px;
}

.booking-status {
  margin-top: 8px;
  display: inline-block;
  padding: 2px 8px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 500;
}
.Upcoming {
  background-color: #e0f2ff;
  color: #0071c2;
  padding: 2px 4px 2px 4px;
  width: 100px;
}

.Past {
  background-color: #fff2f2;
  color: #c1111f;
  padding: 2px 4px 2px 4px;
  width: 100px;
}

.booking-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* gap: 18rem; */
  margin: 0 10px;
}

.booking-btn button {
  font-size: 12px;
  width: 80px;
  border: none;
  border-radius: 8px;
  background: black;
  color: white;
  padding: 6px 0;
  cursor: pointer;
}

.booking-edit-calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
  max-width: 90vw;
}

.edit-submit {
  font-family: "BlinkMacSystemFont", "Roboto", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: inherit;
  min-height: 44px;
  width: 140px;
  margin-right: 40px;
  margin-top: 10px;
  margin-bottom: 0;
  background-color: black;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.calendar-scale {
  transform: scale(0.8);
}

@media (max-width: 800px) {
  .user-bookings-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
  }
  .booking-card-main {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 6px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
  }

  .booking-card {
    flex-direction: row;
    align-items: center;
    padding: 4px;
    gap: 2rem;
  }

  .booking-card img {
    height: 100px;
  }

  .booking-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* gap: 18rem; */
    margin: 0 4px;
  }

  .booking-btn button {
    font-size: 10px;
    width: 80px;
    border: none;
    border-radius: 8px;
    background: black;
    color: white;
    padding: 6px 0;
    cursor: pointer;
  }
}
