.propertiesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));

  padding: 0 2rem;
  padding-top: 2rem;
  gap: 2rem;
}

@media (min-width: 600px) and (max-width: 899px) {
  .propertiesGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.search-filter {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 20px 20px 40px 20px;
  background-color: #f9f9f9;
}

.search-filter::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #ebebeb;
}

@media (max-width: 599px) {
  .propertiesGrid {
    grid-template-columns: repeat(1, 1fr);
    padding: 1.2rem 0 1.2rem 2rem;
  }

  .search-filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem 1rem 2rem;
  }
}

.error-message {
  color: #c1111f;
  text-align: center;
  padding: 20px;
  font-size: 18px;
}
