.footer {
  padding-left: 2rem;
  background-color: rgba(242, 245, 246);
  border-top: 1px solid #ddd;
  text-align: start;
  font-size: 0.875rem;
  color: #555;
}

.footer a {
  display: inline-block;
  color: #000000;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer a svg {
  transition: fill 0.2s;
  margin-top: 5px;
  margin-bottom: 12px;
}

.footer a:hover svg {
  fill: #007bff;
}
